h1 {
  text-align: center;
}

.subscription span {
  font-weight: bold;
}

.test {
  /* border: 2px solid red; */
  display: inline-block;
  width: 120px;
}

h4 {
  margin-top: 0;
}

.experience {
  /* border: 2px solid red; */
  vertical-align: middle;
}
.test1 {
  /* border: 2px solid blue; */
  display: inline-block;
}
.test2 {
  /* border: 2px solid green; */
  display: inline-block;
}

.test3 {
  display: inline-block;
  width: 210px;
  vertical-align: middle;
}

textarea {
  resize: none;
}

.position {
  position: relative;
  bottom: 35px;
}
