@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");

// font-family
$ff-concert: "Concert One", sans-serif;
$ff-noto: "Noto Sans", sans-serif;

// color
$orange-color: rgb(215, 155, 42);
$backgroundColor: #f9efd4;
$cardNavBgColor: rgba(183, 103, 42, 0.9);
$fontColor: #f9efd4;
