/* Color Theme Swatches in Hex */
$midGreen: #9ea58d;
$midOrange: #ccc098;
$lightOrange: #efe6cd;
$darkGreen: #7d8758;
$darkOrange: #c5b67b;
$orange: #fa7f08;
$red: #f24405;
$blue: #22babb;
$font-color: black;
