{%- include('partials/header') -%}

<!-- content start -->
<div class="pb-5">
  <div class="mx-auto d-flex justify-content-center align-items-center pt-5">
    <div class="card w-50">
      <div class="card-body">
        <h2>{%= (pizza ? 'Update' : 'Create') %}</h2>
        <hr />
        <form action="" method="POST" enctype="multipart/form-data">
          <table class="table">
            <tbody>
              <tr>
                <td>Pizza Name</td>
                <td>
                  <input
                    type="text"
                    name="name"
                    required
                    class="form-control"
                    value="{%= pizza?.name || '' %}"
                  />
                </td>
              </tr>
              <tr>
                <td>Pizza Price</td>
                <td>
                  <input
                    type="number"
                    name="price"
                    required
                    class="form-control"
                    value="{%= pizza?.price || '' %}"
                  />
                </td>
              </tr>
              <tr>
                <td>Pizza Toppings</td>
                <td>
                  {% toppings.forEach(topping => { %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                    name="toppingIds[]" value="{%= topping.id %}"
                    id="flexCheckDefault" {%= pizza?.toppingIds.some(t => t.id
                    === topping.id) ? "checked" : "" %} />
                    <label class="form-check-label" for="flexCheckDefault">
                      {%= topping.name %}
                    </label>
                  </div>
                  {% }) %}
                </td>
              </tr>
              <tr>
                <td>Pizza Images</td>
                <td>
                  {% if(pizza?.images.length) { %}
                  <span>Old Images</span>
                  <div>
                    {% pizza.images.forEach(image => { %}
                    <img
                      src="{%= image %}"
                      class="m-2"
                      width="80px"
                      height="80px"
                      alt=""
                    />
                    {% }) %}
                  </div>
                  {% } %}
                  <hr />
                  <div id="imageGallery"></div>
                  <div class="my-3">
                    <input
                      class="form-control"
                      type="file"
                      name="images"
                      accept=".png, .jpg, .jpeg"
                      onchange="previewImage(this)"
                      id="formFileMultiple"
                      multiple
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <input class="btn btn-primary" type="submit" value="OK" />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content end -->

<script>
  function previewImage(input) {
    const imageGallery = document.querySelector("#imageGallery");
    imageGallery.innerHTML = "";
    if (input.files && input.files.length > 0) {
      console.log(input.files);
      Array.from(input.files).forEach((item) => {
        const reader = new FileReader();
        reader.onload = function (e) {
          const img = document.createElement("img");
          img.src = e.target.result;
          (img.width = 80), (img.height = 80), img.classList.add("m-2");
          imageGallery.appendChild(img);
        };
        reader.readAsDataURL(item);
      });
    }
  }
</script>

{%- include('partials/footer') -%}
