{%- include('partials/header') -%}

<!-- content start -->
<div class="pb-5">
  <div class="mx-auto d-flex justify-content-center align-items-center pt-5">
    <div class="card" style="max-width: 30%">
      {% if (pizza.images?.length) { %}
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner" style="width: 100%">
          {% pizza.images.forEach((image,index) => { %}
          <div class="carousel-item {%= index ? '' : 'active' %}">
            <img
              src="{%= image %}"
              class="d-block w-100"
              alt="..."
              style="width: 400px; height: 300px; object-fit: contain"
            />
          </div>
          {% }) %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      {% } %}
      <!-- admin-area-start -->
      {% if (user?.isAdmin) { %}
      <div class="col-md-3 d-flex align-items-center rounded p-2">
        <a href="/pizzas/{%= pizza.id %}/update"
          ><button class="btn btn-sm btn-warning me-1">Update</button></a
        >
        <a href="/pizzas/{%= pizza.id %}/delete"
          ><button class="btn btn-sm btn-danger me-1">Delete</button></a
        >
      </div>
      {% } %}
      <!-- admin-area-end -->
      <div class="card-body">
        <h5 class="card-title">{%= pizza.name %}</h5>
        <ul class="card-text">
          <li>
            Toppings:
            <ul>
              {% for (let topping of pizza.toppingIds) { %}
              <li>{%= topping.name %}</li>
              {% } %}
            </ul>
          </li>
          <li>Price: <strong> ${%= pizza.price %}</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- content end -->

{%- include('partials/footer') -%}
