<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
        <p>
            <b>Clarusway FullStack Team</b>
            <br>Visit to <a href="https://www.clarusway.com/">Clarusway</a>
        </p>
</footer>