* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//* ---------------------------------- */
//*        VARIABLE DECLARATION        */
//* ---------------------------------- */

$bgColor: pink;
$fontFamily: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
$fontColor: white;
$hoverColor: rgb(227, 22, 45);
$navBgColor: #30a7c3;
$fontSize: 1.2rem;
$myBorder: 2px solid brown;
$bannerBgColor: hotpink;

//? ---------------------------------- */
//?               BODY                 */
//? ---------------------------------- */

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

//? ---------------------------------- */
//?               HEADER               */
//? ---------------------------------- */

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  img {
    width: 80px;
    border: $myBorder;
    border-radius: 1rem;
    padding: 5px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5rem;
      &:hover {
        text-decoration: underline;
      }

      a {
        color: $fontColor;
        text-decoration: none;
      }
    }
  }
}

//? ---------------------------------- */
//?              BANNER                */
//? ---------------------------------- */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bannerBgColor;
  padding: 1rem;
  line-height: 2rem;

  aside {
    button {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: $bgColor;
      margin-top: 1rem;
      margin-left: 0.5rem;
      &:hover {
        background-color: $hoverColor;
        color: $fontColor;
        cursor: pointer;
        transform: scale(0.97);
        transition-duration: 0.3s;
      }
    }
  }

  img {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
  }
}

//? ---------------------------------- */
//?              CARDS                 */
//? ---------------------------------- */

//! @MIXIN

@mixin myBox($backColor, $backFontColor) {
  background-color: $backColor;
  width: 25%;
  height: 15rem;
  border-radius: 10px;
  color: $backFontColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .card1 {
    @include myBox(blue, $fontColor);
  }
  .card2 {
    @include myBox(green, yellow);
  }
  .card3 {
    @include myBox(magenta, $fontColor);
  }
  .card4 {
    @include myBox(red, yellow);
  }
}

//? ---------------------------------- */
//?             ARTICLES               */
//? ---------------------------------- */

//! @EXTEND

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles {
  display: flex;
  padding: 1rem;
  gap: 1rem;

  .article1 {
    background-color: gray;
    width: 50%;
    height: 10rem;
    border-radius: 10px;
    border: $myBorder;
    @extend .flex;
  }

  .article2 {
    @extend .article1;
    background-color: purple;
  }
}

//? ---------------------------------- */
//?              FOOTER                */
//? ---------------------------------- */

//! IF-ELSE
//! FOR LOOP

footer {
  $back: 5;

  p {
    @if $back == 1 {
      background-color: gray;
    } @else if $back == 2 {
      background-color: orange;
    } @else {
      background-color: olive;
    }
  }

  .social-icons {
    display: flex;
    height: 10rem;
    $textColor: #990000, #55004e, #0fa8a1, #dcacf1, #64c217;

    @for $i from 1 through 5 {
      .social#{$i} {
        width: 25%;
        background-color: lighten(blue, $i * 5);
        //background-color: lighten(blue, $i * 5);
        font-size: 1rem * $i;
        color: nth($textColor, $i);
      }
    }
  }
}
