$bgColor: pink;
$fontFamily: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
$fontColor: white;
$hoverColor: rgb(227, 22, 45);
$navBgColor: #30a7c3;
$fontSize: 1.2rem;
$myBorder: 2px solid brown;
$bannerBgColor: hotpink;
