* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

/* ---------------------------------- */
/*               HEADER               */
/* ---------------------------------- */

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem auto;
  gap: 50px;
  width: 50%;
}

.title {
  font-size: 1.5rem;
  width: 600px;
  text-align: center;
  margin: auto;
}

.about {
  font-size: 2rem;
  width: 600px;
  margin: auto;
}

/* ---------------------------------- */
/*           MAIN .CONTAINER          */
/* ---------------------------------- */

.container {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10rem auto;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;

  .member {
    width: 500px;
    position: relative;
  }

  .member2,
  .member4,
  .member6 {
    margin-top: 4rem;
  }

  img {
    box-shadow: -2px 2px 10px black;
    width: 93%;
  }

  .job {
    writing-mode: vertical-lr;
    position: absolute;
    height: 50%;
    width: 5%;
    font-size: 20px;
    top: 0;
    right: 0;
  }

  .name {
    margin-top: 1rem;
    font-size: 35px;
  }
}
