h1 {
  font-size: 20px;
  font-weight: 400;
}
h2 {
  font-size: 25px;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
h4 {
  font-size: 35px;
  font-weight: 700;
}
h5 {
  font-size: 40px;
  font-weight: 800;
}
