div {
  text-align: center;
}

div i {
  font-size: 10rem;
  color: rgb(153, 69, 9);
}

.fa-bell:hover {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(15deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(-15deg);
    transform-origin: top;
  }
}

.fa-dollar-sign {
  animation: dollar 0.3s ease-in-out infinite alternate;
}

@keyframes dollar {
  from {
    transform: skew(45deg);
    color: magenta;
  }
  to {
    transform: skew(-45deg);
    color: green;
  }
}
