.outher{
    background-color: brown;
    width: 500px;
    height: 500px;
}

.inner{
    background-color: gray;
    width: 50%;
    height: 50%;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation-name: travel;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:3;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-fill-mode: both; */
    animation: travel 2s ease-in-out alternate 2s infinite both ;

}



@keyframes travel {
    0%{
       transform: translate(0); 
       background-color: orange;
       border-radius: 50%;
    }
    25%{
        transform: translateY(100%);
        background-color: fuchsia;
    }
    50%{
        transform: translate(100%, 100%);
        background-color: greenyellow;
    }

    100%{
        transform: translateX(100%);
        background-color: hotpink;
    }
}