* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .container {
    display: grid;
    grid-template-columns: 5fr 8fr 7fr;
    grid-template-rows: 5fr 6fr 2fr;
    /* Alternative */
    grid-template-columns: 250px 400px 350px;
    grid-template-rows: 250px 300px 100px;
  }
  .items:nth-child(odd) {
    background-color: lightblue;
  }

  .items:nth-child(even) {
    background-color: lightcoral;
  }

  .item1 {
    background-image: url(../Assets/claruswayicon.jpg);
    background-size: cover;
  }

  .item4 {
    overflow: auto;
    background-color: bisque !important;
  }

  .item5 {
    text-align: center;
  }
}
