@import "../CSS/theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: var(--ff-montserrat);
}

body {
  background-color: var(--blue-9);
}

header {
  background-color: var(--dark-red);
  border: 2px solid black;
  width: 300px;
  text-align: center;
  margin: 1rem auto;
  border-radius: 50px;
  padding: 10px 0;
  font-size: var(--fs-3xl);
}

h1 {
  background-color: var(--dark-green);
  padding: 20px;
  margin: 20px 0;
  font-size: var(--fs-lg);
}

nav {
  background-color: var(--gray-3);
  text-align: end;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 20px;
  text-align: center;
}

.col1 {
  background-color: var(--gray-5);
  /* flex: 7; */
  width: 35%;
}
.col2 {
  background-color: var(--gray-6);
  /* flex: 4; */
  width: 20%;
}
.col3 {
  background-color: var(--gray-7);
  /* flex: 6; */
  width: 30%;
}
.col4 {
  background-color: var(--gray-8);
  /* flex: 3; */
  width: 15%;
}

/* For Tablets */
@media screen and (max-width: 992px) {
  body {
    background-color: var(--red-light);
    color: white;
  }
  .col {
    width: 50%;
    margin: 0.5rem 0;
  }
}

/* For Phones */
@media screen and (max-width: 576px) {
  body {
    background-color: var(--purple-1);
  }

  h1 {
    display: none;
  }

  .col {
    width: 100%;
    /* Margin vermedik. Tabletlerdeki margin burada da gecerli */
  }

  nav a {
    display: block;
    text-align: center;
  }

  nav {
    position: absolute;
    top: 0;
  }
}
