.box {
  border: 5px solid black;

  margin-bottom: 4rem;
  width: 20rem;
  height: 4rem;
  background-color: bisque;
}

.box1 {
  overflow: visible;
}

.box2 {
  overflow: hidden;
}

.box3 {
  overflow: scroll;
}

.box3::-webkit-scrollbar {
  background-color: brown;
}

.box4 {
  overflow: auto;
}

.box5 {
  overflow-y: visible;
  /* overflow-y: scroll; */
}

p {
  width: 500px;
}
