.main {
  background-color: aquamarine;
  width: 90%;
  margin: 30px auto;
  position: relative;
  height: 500px;
}

.box1 {
  background-color: darkviolet;
  width: 100px;
  height: 100px;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.inside {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box2 {
  background-color: orange;
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
  left: 30px;
  margin: auto;
  margin-bottom: 50px;
  text-align: right;
}

.box3 {
  background-color: rgba(255, 0, 0, 0.697);
  /* width: 100%;
  text-align: center;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 20px; */
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.child3 {
  background-color: yellow;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.child2 {
  background-color: magenta;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

p {
  background-color: fuchsia;
  border-radius: 20px;
  position: sticky;
  top: 10px;
  margin: auto;
  z-index: 1;
}
